# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Test coverage
.coverage
htmlcov/
